@import './media-queries.css';

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  min-height: 100vh; /* Гарантируем минимальную высоту */
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 1920px; 
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden; 
}

.page-content {
  display: flex;
  flex-grow: 1; 
  overflow: visible; 
}
