.video-details {
  margin-top: 20px;
}

.video-title {
  font-size: 24px;
  font-weight: bold;
}

.video-stats {
  color: gray;
  margin-top: 5px;
}

.video-title {
  font-family: "Mulish", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 45.18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 2px;
  margin-bottom: 0;
  letter-spacing: 0.1px;
}
.video-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.video-views {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 12px;
}

.video-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.video-action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.03);
  
  border: none;
  border-radius: 20px;
  overflow: hidden;
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.video-action-btn-share {
  margin-bottom: 14px;
  margin-right: 24px;
}
.video-action-btn-dislike {
  margin-bottom: 14px;
  margin-right: -9px;
}
.video-action-btn-like {
  margin-bottom: 14px;
  margin-right: -3px;
}

.video-action-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.video-action-btn-like span{
  margin-right: 5px;
}
.video-action-btn-like img{
  margin-right: 6px;
}

.video-action-btn-dislike img{
  margin-right: 5px;
  margin-top: 5px;
}
.video-action-btn-dislike span{
  margin-right: 7px;
  margin-top: 2px;
}
.video-action-dots {
  background: none;
  border: none;
  padding: 0;
  width: 30px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.video-action-dots img {
  width: 28px;
  height: auto;
}
