.sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 3px;
}
