.sidebar {
  width: 367px; 
  margin-right: 70px; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0; 
  scrollbar-width: none; 
}
.sidebar::-webkit-scrollbar {
  display: none; 
}

